.comment_form {
  //   border: 1px solid red;
  // margin: 10vh 0 1vh;
  // position: absolute;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  textarea {
    border: none;
    padding: 4px;
    margin: 10px 0 0 0;
    font-family: 'Manrope', sans-serif;
    border-radius: 3px;
    background: rgba(56, 54, 54, 0.486);
    margin-bottom: 12px;
    color: white;
    min-height: 100px;
    min-width: 19rem;
  }
  button {
    border: none;
    background: rgba(56, 54, 54, 0.486);
    color: rgba(255, 255, 255, 0.411);
    padding: 15px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 1.8rem;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 3px;
  }
  button:hover {
    background: rgba(70, 36, 36, 0.692);
    color: white;
  }
}
.image-submit {
  display: none;
}
.image_submit-label {
  border-radius: 3px;
  margin: 0;
  border: 1px solid rgba(204, 204, 204, 0.39);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.616);
}

.image_submit-label:hover {
  background-color: #082032;
  color: white;
}

@media screen and (max-width: 500px) {
  textarea {
    min-width: 100%;
  }
  .comment_form {
    // border: 1px dotted red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
  }
  .image_submit-label {
    margin-top: 0.8rem;
    margin-bottom: 0;
    width: 100%;

    font-size: 0.6rem;
  }
  button {
    font-size: 0.8rem;
    width: 100%;
    margin-top: 1rem !important;
    padding: 0.8rem !important;
  }
}
.active {
  display: none;
}
